{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "comments/_macros.html" import single_comment %}

{% block title %}Edit Comment{% endblock %}

{% block content %}

  {# Page Title #}
  <h1>Edit Comment</h1>

  {# Comment Form #}
  <div class="row">
    <form class="col-md-6" method="post">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {% set max = 500 %}

      {{ wtf.form_field(form.body, maxlength=max) }}
      <span id="body-count" class="char-count text-muted">{{ max }}</span>
      <div class="d-flex justify-content-end mb-1 mt-1 w-100">
        <input class="btn btn-outline-success form-button" id="submit" name="submit" type="submit" value="Submit">
      </div>
    </form>
  </div>

{% endblock %}