
#logo {
    font-style: italic;
    font-weight: 800;
    font-size: 5em;
    flex: 1;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor:default;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.logo-text-tool {
    color: #222;
}

.logo-text-tldr {
    color: #e33b3b;
}

#nav {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 5px;
}

#links {
    font-weight: 600;
    font-size: 1.4em;
    float: left;
    margin-top: 3px;
}

.nav-link {
    margin-right: 20px;
    color: #222;
}

a.nav-link:hover {
    text-decoration: none;
}


#search-input {
    width: 225px;
    height: 25px;
    padding: 5px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #666;
    border: 2px solid lightgray;
    float: right;
}

#tagline {
    text-align: center;
    max-width: 20em;
    font-weight: 300;
    font-size: 1.8em;
    margin: 90px auto 60px auto
}

#content {
    width: 82%;
    margin: 0 auto;
    margin-top: 45px;
}

#big-search-bar-input {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #222;
    padding: 10px;
    height: 40px;
    border: 1px solid #999;
    margin: 0 auto;
    display: block;
    width: 550px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}

/* AUTOCOMPLETE JQUERY OVERRIDES */

.autocomplete-highlight {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
    color: #222 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #005aad !important;
    background: #005aad !important;
    font-weight: 300 !important;
    color: #ffffff !important;
}

.autocomplete-small {
    font-size: 1.2em !important;
}

.autocomplete-big {
    font-size: 1.5em !important;
}

/* END AUTOCOMPLETE */

#category-title {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}

#categories {
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: #005aad;
}

a:hover {
    text-decoration: underline;
}

span.category-list-item {
    font-weight: 300;
    font-size: 1.6em !important;
    margin-left: -10px;
}

#category-links {
    column-count:4;
    -moz-column-count:4;
    -webkit-column-count:4;
    list-style-position: inside;
    margin: 0 auto;
    width: 75%;
}

#show-more {
    text-align: center;
}

#header {
    width: 88%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    position: relative;
}

li {
    font-size: 0.8em;
    margin-bottom: 7px;
}

.nav-user-text-button {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

#explore-list {
    margin-top: 30px;
    padding-left: 0;
}

.explore-link {
    list-style: none;
    margin-bottom: 15px;
}

.explore-checkbox {
    margin-right: 30px !important;
    margin-left: 25px !important;
}

/*

****** CSS Tree View *******

*/

/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/

/*
 * This solution works with all modern browsers and Internet Explorer 9+.
 * If you are interested in purchasing a JavaScript enabler for IE8
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/

.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input
{
    position: absolute;
    opacity: 0;
}

.css-treeview
{
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a
{
    color: #00f;
    text-decoration: none;
}

.css-treeview a:hover
{
    text-decoration: underline;
}

.css-treeview input + label + ul
{
    margin: 0 0 0 22px;
}

.css-treeview input ~ ul
{
    display: none;
}

.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
}

.css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview label,
.css-treeview label::before
{
    /*background: url("../pages/css3-treeview/example/icons.png") no-repeat;*/
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.css-treeview label
{
    background-position: 18px 0;
}

.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked + label::before
{
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}



/*

****** / CSS Tree View *******

*/


/* TOOLS PAGE */

/* LEFT */

#tool-header {
    text-align: center;
    font-size: 1.5em;
}

#tool-content {
    display: flex;
}

#tool-left-content {
    flex: 1;
}

h1.tool-question-title {
    margin-top: 0;
}

.tool-question-block p {
    margin-bottom: 40px;
    margin-left: 15px;
    font-size: 1.2em;
    max-width: 70%;
}

.env-alts-section {
    margin-left: 15px;
    float: left;
    margin-right: 100px;
}

.env-alts-env-title {
    font-weight: 500;
    margin-top: 0;
}

.env-alts-list {
    font-size: 1.4em;
}

#no-alts {
    margin-left: 15px;
}

.alts-more-link {
    font-size: 0.8em !important;
    margin-left: -20px !important;
    max-width: 125% !important;
}

/* RIGHT */

#tool-right-content {
    width: 26%;
}

#tool-pane {
    background-color: #efefef;
    padding-top: 30px;
    border: 10px solid #dedede;
}

#tool-pane-bottom {
    /*padding: 20px;*/
}

#tool-avatar {
    /*display: block;*/
    margin: auto;
    padding: 15px;
    border: 1px solid gray;
    /*background-color: white;*/
    background-origin: content-box !important;
    width: 200px;
    height: 200px;
    background-position: center !important;
    background-size: contain !important;
}

#tool-name {
    font-weight: 500;
    text-align: center;
}

#tool-metadata-table {
    width: 100%;
    display: table;
    /*margin-bottom: 10px;*/
}

table {
    border-spacing: 0 0;
    border-collapse: collapse;
    border: none;
}

tbody tr {
    vertical-align: top;
    width: 100%;
    display: table-row;
    /*padding-bottom: 20px;*/
}


tbody tr:nth-child(even) {
   background-color: #ccc;
}

.tool-parents {
    white-space: pre !important;
    margin-top: 0px;
    margin-bottom: 5px;
}

tr > td {
    /*padding: 7px 0 7px 20px;*/
    padding: 8px 0 8px 0;
    display: table-cell;
}

.tool-metadata-name {
    font-weight: 500;
    padding-left: 15px;
}

.tool-metadata-value {
    /*padding-right: 15px;*/
}


/* END TOOLS PAGE */


/* CATEGORY PAGE */

.view-edits-link {
    float:right !important;
}

#category-header {
    text-align: center;
    font-size: 1.5em;
}

#category-content-higher {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
}

.category-question-block {
    margin-bottom: 30px;
}

#category-content-lower {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.category-lower-block {
    margin-left: 15%;
}

.alt-list-item {
    font-size: 1.2em;
}


/* END CATEGORY PAGE */


/* BOOTSTRAP */



.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c1e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6d5ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7ecb5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9b9;
}

.alert-danger .alert-link {
  color: #843534;
}


/* EXPLORE TREE */

#explore-header {
    display: flex;
}

#explore-header button {
    height: 100%;
    margin: auto;
}

#explore-title {
    flex: 1;
}

#explore-tree ul {
    font-size: 1.5rem !important;
}

#explore-tree li {
    margin-bottom: 10px !important;
}

#explore-tree  ul.jqtree-tree .jqtree-element {
    cursor: default !important;
}

#explore-tree .jqtree-toggler {
    cursor: pointer !important;
}


/* END EXPLORE TREE */

/* BOOTSTRAP */



@media (max-width: 1205px) {
    #category-links {
    column-count:4;
    -moz-column-count:4;
    -webkit-column-count:4;
    list-style-position: inside;
    margin: 0 auto;
    width: 65%;
    }
}
