<div id="header">
    <div id="logo">
        <a id="logo-link" href="/"><span class="logo-text-tool">tool</span> <span class="logo-text-tldr">tl;dr</span></a>
    </div>
    <div id="nav-user-actions">
        {% if current_user.is_authenticated %}
            <p class="nav-user-text-button"><a class="nav-user-link" href="{{ '/user/' ~ current_user.username }}">My Account</a></p>
            <p class="nav-user-text-button"><a class="nav-user-link" href="/auth/logout">Sign out</a></p>
        {% else %}
            <p class="nav-user-text-button"><a class="nav-user-link" href="/auth/login">Log in</a></p>
            <p class="nav-user-text-button"><a class="nav-user-link" href="/auth/register">Sign up</a></p>
        {% endif %}
    </div>
    <div id="nav">
        <div id="links">
            <span><a class="nav-link" href="/">home</a></span>
            <span><a class="nav-link" href="/explore">explore</a></span>
            <span><a class="nav-link" href="">about</a></span>
        </div>
        <input id="search-input" placeholder="Search">
    </div>
</div>