.about-text {
  font-size: 1.3rem;
  line-height: 1.5;

  h1[id]:hover a.anchorlink:before,
  h2[id]:hover a.anchorlink:before,
  h3[id]:hover a.anchorlink:before,
  h4[id]:hover a.anchorlink:before,
  h5[id]:hover a.anchorlink:before,
  h6[id]:hover a.anchorlink:before {
    content: "\00B6"; /* pilcrow */
    color: $gray;
    font-size: smaller;
  }

  a.anchorlink {
    text-decoration: none;
    margin-left: 0.5em;
    font-size: smaller;
  }

  p {
    text-indent: 10px;
    margin-left: 10px;
  }

  .no-indent {
    text-indent: 0;
    margin-left: 0;
  }

  #know-img {
    width: 400px;
    max-width: initial;
  }

  img {
    display: table;
    margin: auto;
  }

  h2 {
    font-weight: 500;
  }

  h3 {
    font-weight: 400;
  }

  h4 {
    font-weight: 300;
  }

  .paypal-form {
    display: inline;
    vertical-align: middle;
  }
}
