.about-text {
	font-size: 1.3em;
	line-height: 1.5;

	p {
		text-indent: 10px;
		margin-left: 10px;
	}

	.no-indent {
		text-indent: 0;
		margin-left: 0;
	}

	#know-img {
		width: 400px;
		max-width: initial;
	}

	img {
		display: block;
		margin: auto;
		width: inherit;
		max-width: max-content;
	}

	h3 {
		font-weight: $font-medium;
	}
}