body {
    font-family: $font-stack;

    .page {
        width: 100%;

        .content {
            width: $content-width;
            margin: auto;

            .btn {
                font-family: $font-stack !important;
            }
        }
    }

    a {
        @include blue-link;
    }
}

