body {
    font-family: $font-stack;

    .page {
        width: 100%;

        .content {
            width: $content-width;
            margin: auto;

            h1 {
                font-weight: 500;

                &.display-4 {
                    font-weight: $font-light;
                }
            }

            input {
                font-family: $font-stack;
            }

            textarea {
                font-family: $font-stack;
                height: 100px;
            }

            .btn {
                font-family: $font-stack !important;
            }
        }
    }

    a {
        @include blue-link;
    }
}

