body {
    font-family: $font-stack;

    .page {
        width: 100%;

        .content {
            width: $content-width;
            margin: auto;

            b {
                font-weight: $font-medium;
            }

            .btn-lg {
                padding: .5rem 1rem !important;
            }

            .form-button {
                cursor: pointer;
            }

            h1 {
                font-weight: 500;

                &.display-4 {
                    font-weight: $font-light;
                    font-size: 3em;
                }
            }

            input, select, textarea, .btn {
                font-family: $font-stack !important;
            }

            textarea {
                height: 260px;
            }

            .help-text {
                font-size: 1.05em !important;
                margin-left: 10px;
            }

            .question-block {

                .question-title {
                    font-weight: $font-medium;
                }

                & > p {
                    margin-bottom: 40px;
                    margin-left: 15px;
                    font-size: 1.2em;
                    //max-width: 70%;
                }
            }
        }
    }

    a {
        @include blue-link;
    }
}

