#category-top-info {

  #breadcrumbs {
    font-size: 1.3em;

    .breadcrumb-item {
      a {
        @include blue-link;
      }
    }
  }
}

#category-content {

  #category-content-top {
    background-color: $dark-gray;
    color: $white;
    border-radius: 20px;
    padding: 15px;

    .help-text {
      color: $white;
      opacity: .5;
    }
  }

  #category-content-bottom {
    margin-top: 20px;

    .category-bottom-block {

      .env-alts-env-title {
        font-weight: $font-medium;
        font-size: 2rem;
      }

      .category-content-list {
        list-style-position: inside;
        display: table;
        margin: auto;
        padding: 0;

      }
    }
  }
}

.alt-list-item {
  font-size: 1.2em;

  a {
    @include blue-link;
  }
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 340px) {  }

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #category-content {

    #category-content-bottom {
      margin-top: 10px;

      .category-bottom-block {

        .env-alts-env-title {
          font-size: 2em;
        }
      }
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {  }
