#category-top-info {

  .view-edits-link {
    a {
      @include blue-link;
    }
  }

  #breadcrumbs {
    .breadcrumb-item {
      a {
        @include blue-link;
      }
    }
  }
}


#category-header {
  //text-align: center;
  font-size: 1.5em;
}

#category-content {
  font-size: 1.1rem;

  #category-content-left {
    //width: $category-content-width;
    //margin: 0 auto;
    //font-size: 1.2em;
    .category-question-block {
      margin-bottom: 30px;
      .category-question-title {
        font-weight: $font-medium;
      }
    }
  }

  #category-content-right {
    //width: $category-content-width;
    //margin: auto;
    .category-right-block {
      .env-alts-env-title {
        font-weight: $font-medium;
        //margin: 0;
      }
      .category-content-list {
        .alt-list-item {
          //font-size: 1.2em;
          a {
            @include blue-link;
          }
        }
      }
    }
  }
}


