.comment-link {
  display: inline;
  font-weight: $font-medium;
}

.comment-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 100px;
}

.comment-body {
  white-space: pre-line;
  margin-top: -1em !important;
}

.comment-replies {
  list-style: none;
  padding-left: 15px;
}