#comparison-info{
  font-weight: $font-medium;
}

blockquote {
  margin: 0 auto 2rem auto !important;
  max-width: 60%;
  word-wrap: break-word;
  display: table;

  footer {
    display: table-row;
    float: right;
  }
}

.card {
  h3 {
    font-weight: $font-medium;
    margin-top: 0;
  }
  .card-text {
    margin-top: 0;
    overflow-wrap: break-word;

    .diff-danger {
      color: #a94442;
      background-color: #f2dede;
    }

    .diff-success {
      color: #3c763d;
      background-color: #dff0d8;
    }

    &.card-wrapped-text {
      overflow-wrap: break-word;
    }
  }

  .diff-version-heading {
    margin-top: 0;
    font-weight: $font-light;
    font-size: 1.2rem;
  }

  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .right-diff {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}