.initially-hidden-field {
  display: none;
}

.char-count {
  position: relative;
  bottom: 45px;
  float: right;
  left: -10px;
  font-style: italic;
  user-select: none;
}

.edit-msg-input {
  padding-right: 40px;
  text-overflow: ellipsis;
}

#tree-pane {

  .explore-tree {
    font-size: 1.3rem !important;
    overflow: scroll;
    height: 745px;

    .jqtree-title {
      color: $dark-gray !important;
    }
  }
}
