.initially-hidden-field {
  display: none;
}

.form-text {
  margin: 0 0 0.65rem 0.1rem;
}

.form-group {
  margin-bottom: 2rem;
}

.char-count {
  position: relative;
  bottom: 60px;
  float: right;
  left: -10px;
  font-style: italic;
  user-select: none;
}

.edit-msg-input {
  padding-right: 40px;
  text-overflow: ellipsis;
}

#tree-pane {

  .explore-tree {
    font-size: 1.3rem !important;
    overflow: scroll;
    height: 745px;

    .jqtree-title {
      color: $dark-gray !important;
    }
  }
}

.atwho-view .cur .atwho-small-text {
    color: $white;
}

.atwho-small-text {
    display: block;
    font-size: small;
    color: $gray;
}
