#explore-header {

  button {
    height: 100%;
  }
}

.filter-text {
  font-size: 1.25em;
  margin: 0 0 0 1rem;
}

#explore-tree {
  font-size: 1.3rem;
  margin-bottom: 60px;
  padding-left: 0;

  .toggler {
    width: 2em;
    height: 2em;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    border: 0.01em solid transparent;
    padding: 4pt;
    border-radius: 4px;
    position: relative;
    top: 1px;

    &:hover {
      border-color: $gray;
    }

    &::before {
      font-size: 1.3em;
      position: relative;
      top: -3px;
    }
  }

  span.openedIcon::before {
    content: "\2212";
  }

  span.closedIcon::before {
    content: "+";
  }

  span.jqtree-title {
    position: relative;
    top: -2px;
  }

  ul.jqtree-tree li.jqtree-selected>.jqtree-element {
    background: lighten($light-gray, 11%);
    text-shadow: none;

    span.jqtree-title {
      &:focus {
        outline: none;
      }
    }
  }

  li {
    margin-bottom: 10px !important;
    min-width: max-content;
  }

  .jqtree-element {
    padding: 5px 5px 8px 5px;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;

    .blurb {
      margin-left: 50px;
      font-size: 0.8em;
      opacity: 0.8;

      .blurbDisplay {
        display: none !important;
      }
    }
  }

  .jqtree-toggler {
    cursor: pointer;
    margin-left: 0;
  }

  span {
    a {
      @include blue-link;
    }
  }
}

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(/static/img/loader.svg);
  top: 3px;
  position: relative;
  animation: spin 1.1s linear infinite;
  animation-name: loader-spin;
  left: 11px;
  display: inline-block;
  opacity: 0.8;
  transform-origin: 50% 41%;
}

#explore-tree.jqtree-loading:after {
  content: url(/static/img/loader.svg);
  animation: spin 1.1s linear infinite;
  animation-name: loader-spin;
}

//@media (min-width: 340px) {}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #explore-tree {
    font-size: 1.5rem;
    padding-left: 15px;

    .jqtree-toggler {
      margin-left: 5px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {}