#explore-header {

  button {
    height: 100%;
  }

  #explore-title { }
  #collapse-button { }
}

.filter-text {
  font-size: 1.25em;
  margin: 0 0 0 1rem;
}

#explore-tree {

  font-size: 1.3rem;
  margin-bottom: 60px;
  padding-left: 0;

  .toggler {
    width: 2em;
    height: 2em;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    border: 0.01em solid transparent;
    padding: 4pt;
    border-radius: 4px;
    position: relative;
    top: 1px;

    &:hover {
      border-color: $gray;
    }

    &::before {
      font-size: 1.3em;
      position: relative;
      top: -3px;
    }
  }

  span.openedIcon {

    &::before {
      content: "\2212";
    }
  }

  span.closedIcon {

    &::before {
      content: "+";
    }
  }

  span.jqtree-title {
    position: relative;
    top: -2px;
  }

  ul.jqtree-tree li.jqtree-selected>.jqtree-element {
    background: lighten($light-gray, 11%);
    text-shadow: none;

    span.jqtree-title {
      &:focus {
        outline: none;
      }
    }
  }

  li {
    margin-bottom: 10px !important;
  }

  .jqtree-element {
    padding: 5px 5px 8px 5px;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    .blurb {
      margin-left: 50px;
      font-size: 0.8em;

      .blurbDisplay {
        display: none !important;
      }
    }
  }

  .jqtree-toggler {
    cursor: pointer;
    margin-left: 0;
  }

  span {
    a {
      @include blue-link;
    }
  }
}

@media (min-width: 340px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #explore-tree {
    font-size: 1.5rem;
    padding-left: 15px;

    .jqtree-toggler {
      margin-left: 5px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}