#tagline {
  text-align: center;
  max-width: 20em;
  font-weight: $font-light;
  font-size: 1.8em;
  margin: 90px auto 60px auto;
}

#big-search-bar-input {
  font-size: 1.5em;
  font-family: $font-stack;
  font-weight: $font-light;
  color: $dark-gray;
  padding: 10px;
  height: 40px;
  border: 1px solid #999;
  margin: 0 auto;
  display: block;
  width: 550px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}

#categories {
  margin-top: 80px;

  #category-title {
    font-weight: $font-medium;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
  }

  #category-links {

    column-count:4;
    -moz-column-count:4;
    -webkit-column-count:4;
    list-style-position: inside;
    margin: 0 auto;
    width: $category-column-width;

    li {
      font-size: 0.8em;
      margin-bottom: 7px;
    }

    .category-list-item {
      font-weight: $font-light;
      font-size: 1.6em;
      margin-left: -10px;
    }

    .category-link {
      @include blue-link;
    }
  }
  #show-more {
    text-align: center;
  }
}