#tagline {
  //text-align: center;
  //max-width: 20em;
  font-weight: $font-light;
  font-size: 1.75em;
  margin: 90px auto 60px auto;
}

#big-search {
  margin: 0 auto;

  #big-search-bar-input {
    //font-size: 1.5em;
    font-family: $font-stack;
    font-weight: $font-light;
    color: $dark-gray;
    //padding: 10px;
    //height: 40px;
    //border: 1px solid #999;
    //margin: 0 auto;
    //width: 550px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}

#categories {
  margin-top: 80px;

  #category-title {
    font-weight: $font-medium;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
  }

  #category-columns {
    font-size: 1.3em;
  }
  a {
    margin-bottom: 10px;
  }

  #category-links {

    -moz-column-width: 15em; /* Firefox */
    -webkit-column-width: 15em; /* webkit, Safari, Chrome */
    column-width: 15em;
    margin: 0;
    //
    padding: 0;
    list-style-type: none;
    width: $category-column-width;

    .category-list-item {
      font-weight: $font-light;
      font-size: 1.3em;
      margin-bottom: 7px;
    }

    .category-link {
      @include blue-link;
    }
  }
  #show-more {
    text-align: center;
  }
}