#tool-content {
  margin: 0 auto;

  a {
    @include blue-link;
  }

  #tool-left-content {
    margin: 0 auto !important;
    padding-left: 0;

    & > .tool-question-block > h1 {
      margin-top: 0;
    }

    .tool-question-block {

      .env-alts-section {

        .env-alts-env-title {
          font-weight: $font-medium;
          margin-top: 0;
        }
      }
    }
  }

  .env-alts-list {
    & > li {
      font-size: 1.2em !important;
    }
  }

  .alts-more-link {
    font-size: 1.2em !important;
    margin-left: -20px !important;
    max-width: 125% !important;
  }

  #tool-right-content {
    width: $tool-content-right-width;
    font-size: 1rem;
    order: -1;
    margin: 0 auto 40px;

    #tool-pane {
      background-color: #efefef;
      padding-top: 30px;
      border: 10px solid #dedede;

      #tool-pane-top {

        #tool-logo {
          margin: auto;
          border: 1px solid gray;
          width: $tool-image;
          height: $tool-image;
          background: $white;
          text-align: center;

          .img-align-helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          #logo-img {
            max-width: calc(100% - 30px);
            max-height: 100%;
            vertical-align: middle;
          }
        }

        #tool-name {
          font-weight: $font-medium;
          text-align: center;
        }
      }

      #tool-pane-bottom {

        #tool-metadata-table {
          width: 100%;
          display: table;
          border-spacing: 0 0;
          border-collapse: collapse;
          border: 0;
          table-layout: fixed;

          .tool-metadata-row {
            vertical-align: top;
            width: 100%;
            display: table-row;

            &:nth-child(even) {
              background-color: $light-gray;
            }

            td {
              padding: 8px 0;
              display: table-cell;
              font-size: 0.85em;
              vertical-align: middle;
            }

            .tool-metadata-name {
              font-weight: $font-medium;
              padding-left: 15px;
              width: 45%;
            }

            .tool-metadata-value {

              .tool-parents {
                white-space: pre !important;
                margin-bottom: 4px;
                display: block;
                text-overflow: ellipsis;
                overflow-x: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {

  #tool-right-content {
    position: inherit;
    margin-bottom: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // Can't change until classes towards top of file change from id's to classes
  #tool-content {
    #tool-right-content {
      #tool-pane {
        #tool-pane-bottom {
          #tool-metadata-table {
            .tool-metadata-row {
              td {
                font-size: 16px;
              }
              .tool-metadata-name {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #tool-content {
    #tool-left-content {
      margin-left: 1rem !important;
    }

    #tool-right-content {
      width: 385px;
      order: 1;
      margin: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #tool-content {
    #tool-right-content {
      width: $tool-content-right-width;
    }
  }
}
