.tooltip {

  &[x-placement="top"] {
    margin-bottom: 10px;
  }

  &[x-placement="right"] {
    margin-left: 10px;
  }

  &[x-placement="bottom"] {
    margin-top: 10px;
  }

  &[x-placement="left"] {
    margin-right: 10px;
  }

  .tooltip-inner {
    max-width: 350px;
    padding: 6px 8px;
  }
}

