.profile-edits-list{
  line-height: 1.6em;
}

#profile-main {

  .list-group-item b {
    font-weight: $font-medium;
  }
  .profile-info-header {
    font-weight: $font-medium;
  }
}

#about-me {
 white-space: pre-wrap;
}

#recent-activity-header {
  font-size: 2em;
  font-weight: $font-medium;
  text-align: center;
}

.tab-content {
  th {
    font-weight: $font-medium;
  }
}

section {
  display: none;
  margin-top: -1px;

  th {
    border-top: 2px solid #eceeef !important;
  }

  .btn-secondary {
    margin-top: -1px;
  }
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #686868;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    color: #4b4b4b;
  }
}

input:checked + label {
  color: $dark-gray;
  border: 1px solid #ddd;
  border-top: 2px solid $red;
  border-bottom: 2px solid #fff;
}

#tab1:checked ~ #tool-edits,
#tab2:checked ~ #category-edits {
  display: block;
}