// Fonts

$font-stack: 'Montserrat', sans-serif;

$font-light: 300;
$font-lighter: 400;
$font-medium: 500;
$font-heavy: 600;

// Colors

$red: #e33b3b;
$blue: #005aad;
$dark-gray: #222;
$gray: #666;
$light-gray: #d3d3d3;
$lighter-gray: #e4e4e4;
$white: #fff;

$diff-red-text: #a94442;
$diff-red-bg: #f2dede;

$diff-green-text: #3c763d;
$diff-green-bg: #dff0d8;

// Widths

$header-width: 88%;
$content-width: 85%;
$category-column-width: 75%;
$tool-content-right-width: 415px;
$tool-image: 220px;
$category-content-width: 50%;

// Responsive Breakpoints

// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm2: 340px, // Going from iPhone 5 to 6
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Mixins

@mixin blue-link {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin dark-link {
  color: $dark-gray;
  text-decoration: none;
}

@mixin min-width-max-content {
  min-width: intrinsic; // Safari/WebKit uses a non-standard name
  min-width: -moz-max-content; // Firefox/Gecko
  min-width: -webkit-max-content; // Chrome
}