{% macro page_header(type, obj) %}
  <div class="content-page-header">
    <h1 class="display-4 content-page-title">{{ obj.name }}</h1>
    <div class="edit-buttons">
      <a class="btn btn-lg btn-primary mr-3 edit-button" href="/{{ type }}/{{ obj.id }}/edit">Edit Page</a>
      <span class="stretch-width-to-content mr-3 edit-button">
        <a class="view-edits-link" href="/{{ type }}/{{ obj.id }}/edits">View Edits</a>
      </span>
      <div class="dropdown content-page-header-dropdown">
        <a class="btn btn-secondary edit-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          ...
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item edit-button"
             href="{{ url_for("comments.list_all", page_type=type, page_id=obj.id) }}">Discuss</a>
          <a class="dropdown-item edit-button generate-shield" href="#">Generate shield</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}