{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add New Category{% endblock %}
{%- block description -%}
  Add a new category for software tools at Tool TL;DR
{%- endblock -%}

{% block content %}
  <div class="page-header">
    <h1>Add New Category</h1>
  </div>
  <div class="row">
    <form class="col-md-5" method="post">
      {% set max = 250 %}
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.parent_category, readonly=True) }}
      {{ wtf.form_field(form.what, maxlength=max) }}
      <span id="what-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.why, maxlength=max) }}
      <span id="why-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.where, maxlength=max) }}
      <span id="where-count" class="char-count text-muted">{{ max }}</span>

      {% include "includes/form_actions.html" %}
    </form>
    <div id="tree-pane" class="col-md-7">
      <label>Pick a parent category</label>
      <div class="explore-tree explore-tree-edit" data-url="/explore_nodes?no-link=true&show-root=true"></div>
    </div>
  </div>
{% endblock %}