{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add New Tool{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Add New Tool</h1>
  </div>
  <div class="row">
    <form id="recaptcha-form" class="col-md-5" method="post">
      {% set max = 250 %}
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.parent_category, readonly=True) }}
      {{ wtf.form_field(form.avatar_url) }}
      {{ wtf.form_field(form.env) }}
      {{ wtf.form_field(form.created, min="1970", max="2099", step="1", type="number") }}
      {{ wtf.form_field(form.project_version) }}
      {{ wtf.form_field(form.is_active) }}
      {{ wtf.form_field(form.link) }}
      {{ wtf.form_field(form.why, maxlength=max) }}
      <span id="why-count" class="char-count text-muted">{{ max }}</span>
      {% if not is_confirmed %}
        {{ form.recaptcha }}
      {% endif %}
      <div class="d-flex justify-content-end mb-5 w-100">
        <button type="button" class="btn btn-outline-danger mr-auto form-button cancel-button">Cancel</button>
        {% if not is_confirmed %}
          <button type="button" class="btn btn-success form-button" id="recaptcha-submit">Submit</button>
        {% else %}
          <input type="submit" class="btn btn-success form-button" id="recaptcha-submit" value="Submit" name="Submit">
        {% endif %}
      </div>
    </form>
    <div id="tree-pane" class="col-md-7">
      <label>Pick a parent category</label>
      <div id="explore-tree-edit" class="explore-tree" data-url="/explore_nodes?no-link=true"></div>
    </div>
  </div>
{% endblock %}
