{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}

		{% if breadcrumbs|length > 1 %}
		    <div id="category-top-info">

	          <div id="breadcrumbs" class="mt-4">
	          {% for item in breadcrumbs %}
	              {% if not loop.last %}
	                  <span class="breadcrumb-item"><a href="/categories/{{ item.id }}">{{ item.name }}</a></span><span>  /  </span>
	              {% endif %}
	              {% if loop.last %}
	                  <span class="breadcrumb-item">{{ item.name }}</span>
	              {% endif %}
	          {% endfor %}
	          </div>
				</div>
		{% endif %}

    <div id="category-header" class="content-page-header">
        <h1 class="display-4">{{ category.name }}</h1>
		    <div id="edit-buttons">
			    <a role="button" class="btn btn-lg btn-primary ml-auto mr-3" href="/categories/{{ category.id }}/edit">Edit Page</a>
			    <span class="view-edits-link stretch-width-to-content"><a href="/categories/{{ category.id }}/edits">View Edits</a></span>
		    </div>
    </div>

    <div id="category-content" class="content-page-content">
        <div id="category-content-top" class="row">
            <div class="question-block category-question-block col-lg-4">
                <h1 class="question-title">The What</h1>
		            <p class="text-muted help-text mb-0">What is the TL;DR of the category? What do tools in this category
			            let you do?</p>
                <p>{{ category.what }}</p>
            </div>
            <div class="question-block category-question-block col-lg-4">
                <h1 class="question-title">The Why</h1>
		            <p class="text-muted help-text mb-0">Why would I need use it? Why would I need to <i>start</i> using it?</p>
                <p>{{ category.why }}</p>
            </div>
            <div class="question-block category-question-block col-lg-4">
                <h1 class="question-title">The Where</h1>
		            <p class="text-muted help-text mb-0">Where does it fall in the application stack? Where would I
			            use it in my application?</p>
                <p>{{ category.where }}</p>
            </div>
        </div>

		    <div id="category-content-bottom" class="justify-content-center row text-center mb-5">
				    <div class="category-bottom-block col-md-4">
					    <h1 class="env-alts-env-title">Subcategories</h1>
					    {% if subcategories %}
						    <ul class="category-content-list text-left">
							    {% for category in subcategories %}
								    <li class="alt-list-item"><a href="/categories/{{ category.id }}">{{ category.name }}</a></li>
								    {%- if loop.index > 5 %}
									    <p class="alts-more-link"><a href="#">Show more</a></p>
									    {% break %}
								    {% endif %}
							    {%- endfor %}
						    </ul>
					    {% endif %}
					    {% if not subcategories %}
						    <p class="alt-list-item text-muted"><i>No subcategories added yet</i></p>
					    {% endif %}
				    </div>

				    <div class="category-bottom-block col-md-4">
					    <h1 class="env-alts-env-title">Tools</h1>
					    {% if subtools %}
						    <ul class="category-content-list text-left">
							    {% for tool in subtools %}
								    <li class="alt-list-item"><a href="/tools/{{ tool.id }}">{{ tool.name }}</a> ({{ tool.env.title() }})
								    </li>
								    {%- if loop.index > 5 %}
									    <p class="alts-more-link"><a href="#">Show more</a></p>
									    {% break %}
								    {% endif %}
							    {%- endfor %}
						    </ul>
					    {% endif %}

					    {% if not subtools %}
						    <p class="alt-list-item text-muted"><i>No tools added yet</i></p>
					    {% endif %}
				    </div>
			    </div>
		    </div>


{% endblock %}