{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}

    <div id="category-top-info" class="align-items-center d-flex justify-content-{% if breadcrumbs|length > 1 %}start{% else %}end{% endif %}">
        {% if breadcrumbs|length > 1 %}
            <div id="breadcrumbs">
            {% for item in breadcrumbs %}
                {% if not loop.last %}
                    <span class="breadcrumb-item"><a href="/categories?id={{ item.id }}">{{ item.name }}</a></span><span>  /  </span>
                {% endif %}
                {% if loop.last %}
                    <span class="breadcrumb-item">{{ item.name }}</span>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <p id="view-edits-link" class="ml-auto mr-3"><a href="/edit-category?id={{ category.id }}">Edit Page</a></p>
        <p class="view-edits-link"><a href="/view_edits?type=category&id={{ category.id }}">View Edits</a></p>
    </div>

    <div id="category-header">
        <h1 class="display-4">{{ category.name }}</h1>
    </div>

    <div id="category-content" class="d-flex justify-content-between row">
        <div id="category-content-left" class="col-md-5 ml-3">
            <div class="category-question-block">
                <h1 class="category-question-title">What</h1>
                <p>{{ category.what }}</p>
            </div>
            <div class="category-question-block">
                <h1 class="category-question-title">Why</h1>
                <p>{{ category.why }}</p>
            </div>
            <div class="category-question-block">
                <h1 class="category-question-title">Where</h1>
                <p>{{ category.where }}</p>
            </div>
        </div>

        <div id="category-content-right" class="col-md-6 row">
        <div class="category-right-block col-lg-6">
            <h1 class="env-alts-env-title">Subcategories</h1>
            {% if subcategories %}
                <ul class="category-content-list">
                    {% for category in subcategories %}
                        <li class="alt-list-item"><a href="/categories?id={{ category.id }}">{{ category.name }}</a></li>
                        {%- if loop.index > 5 %}
                            <p class="alts-more-link"><a href="#">Show more</a></p>
                            {% break %}
                        {% endif %}
                    {%- endfor %}
                </ul>
            {% endif %}
            {% if not subcategories %}
                <p class="alt-list-item">No subcategories at this time</p>
            {% endif %}
        </div>

        <div class="category-right-block col-lg-6">
            <h1 class="env-alts-env-title">Tools</h1>
            {% if subtools %}
                <ul class="category-content-list">
                    {% for tool in subtools %}
                        <li class="alt-list-item"><a href="/tools?id={{ tool.id }}">{{ tool.name }}</a> ({{ tool.env.title() }})</li>
                        {%- if loop.index > 5 %}
                            <p class="alts-more-link"><a href="#">Show more</a></p>
                            {% break %}
                        {% endif %}
                    {%- endfor %}
                </ul>
            {% endif %}

           {% if not subtools %}
                <p class="alt-list-item">No tools at this time</p>
           {% endif %}
        </div>
    </div>
    </div>
{% endblock %}