{% extends "base.html" %}
{% block content %}

  <div class="changelogs">

    <div class="row">
      <div class="col-md-7 m-auto">
        <h2>v1.1</h2>
        <span class="text-muted changelog-date">May 28th, 2018</span>
        <ul>
          <li>
            <strong>SAY WHAT AGAIN!</strong> Tools now have a 'what' section. Tools fell within descriptive categories,
            but
            more often than not, their descriptions deviate enough that we felt the need to let users explain them more.
            And, after all, it is <i>Tool</i> TL;DR.
          </li>
          <li>
            <strong>Add 'em and Tag 'em</strong>: Environments are now tags. Tools usually aren't bound by just one type
            and
            tags look nicer anyway
          </li>
          <li>
            <strong>Tree Search</strong>: You can now filter the site tree down to find what you need. This works on the
            explore page as well as the 'add' and 'edit' pages.
          </li>
          <li><a href="https://media1.tenor.com/images/a83dfa950a5e36dfb9f9ba5ae5d6a5e3/tenor.gif"
                 rel="nofollow noreferrer noopener" target="_blank" title="">Created a changelog</a></li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-7 m-auto">
        <h2>v1.0</h2>
        <span class="text-muted changelog-date">May 9th, 2018</span>
        <ul>
          <li>
            <strong><a href="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif">LAUNCH!</a></strong>
          </li>
        </ul>

      </div>
    </div>

  </div>
{% endblock %}