{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit {{ category.name }}{% endblock %}
{%- block description -%}
  Edit the content for the category, {{ category.name }}
{%- endblock -%}

{% block content %}
  <div class="page-header">
    <h1>Edit <a href="{{ url_for("main.fetch_category_page", category_id=category.id, category_name=slugify(category.name)) }}">{{ category.name }}</a>
    </h1>
  </div>
  <div class="row">
    <form class="col-md-5" method="post">
      {% set max = 250 %}
      {% set edit_msg_max = 100 %}
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.name) }}
      {% if is_member %}
        <div class="form-group">
          {{ wtf.form_field(form.move_parent, checked=False) }}
        </div>
        <div id="optional_parent_field" class="initially-hidden-field">
          {{ wtf.form_field(form.parent_category, readonly=True) }}
        </div>
      {% endif %}
      {{ wtf.form_field(form.what, maxlength=max) }}
      <span id="what-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.why, maxlength=max) }}
      <span id="why-count" class="char-count text-muted">{{ max }}</span>

      {{ wtf.form_field(form.where, maxlength=max) }}
      <span id="where-count" class="char-count text-muted">{{ max }}</span>

      {{ wtf.form_field(form.edit_msg, class="form-control edit-msg-input", maxlength=edit_msg_max) }}
      <span id="edit_msg-count" class="char-count text-muted">{{ edit_msg_max }}</span>
      {% include "includes/form_actions.html" %}
    </form>
    <div id="tree-pane" class="col-md-7 initially-hidden-field">
      <label for="filter-tree">Search tree:</label>
      <input id="filter-tree" class="form-control" autocomplete="off"/>
      <label class="mt-3">Pick a parent category:</label>
      <div class="explore-tree explore-tree-edit explore-tree-edit-category"
           data-url="/filter_nodes?show_links=false&show_root=true&only_categories=true">
      </div>
    </div>
  </div>
{% endblock %}
