{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit {{ category.name }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Edit <a href="{{ url_for("main.fetch_category_page", category_id=category.id) }}">{{ category.name }}</a></h1>
  </div>
  <div class="row">
    <form class="col-md-4" method="post">
      {% set max = 250 %}
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.name) }}
      {% if is_confirmed %}
        <div class="mb-3 mt-4">
          {{ wtf.form_field(form.move_parent, checked=False) }}
        </div>
        <div id="optional_parent_field" class="initially-hidden-field">
          {{ wtf.form_field(form.parent_category, readonly=True, placeholder="Pick a category from the tree") }}
        </div>
      {% endif %}
      {{ wtf.form_field(form.what, help_text="What is the tl;dr of the category? What do tools in this category let you do?", maxlength=max) }}
      <span id="what-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.why, help_text="Why would I need to use it? Why would I need to <i>start</i> using it?", maxlength=max) }}
      <span id="why-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.where, help_text="Where does it fall in the application space or stack? Where would I use it in my application?", maxlength=max) }}
      <span id="where-count" class="char-count text-muted">{{ max }}</span>

      {{ wtf.form_field(form.edit_msg) }}
      <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn btn-danger mr-auto form-button cancel-button">Cancel</button>
        <input class="btn btn-success form-button" id="submit" name="submit" type="submit" value="Submit">
      </div>
    </form>
    <div id="tree-pane" class="col-md-8 initially-hidden-field">
      <label>Pick a parent category</label>
      <div id="explore-tree" data-url="/explore_nodes?no-link=true&show-root=true"></div>
    </div>
  </div>
{% endblock %}
