{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit {{ tool.name }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Edit <a href="/tools/{{ tool.id }}">{{ tool.name }}</a></h1>
  </div>

  <div class="row">
    <form class="col-md-4" method="post">
      {% set max = 250 %}
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.name) }}
      {% if is_confirmed %}
        <div class="mb-3 mt-4">
          {{ wtf.form_field(form.move_parent, checked=False) }}
        </div>
        <div id="optional_parent_field" class="initially-hidden-field">
          {{ wtf.form_field(form.parent_category, readonly=True, placeholder="Pick a category from the tree") }}
        </div>
      {% endif %}

      {{ wtf.form_field(form.avatar_url) }}
      {{ wtf.form_field(form.env, help_text="In what environment is this tool used? Usually, this is a programming lanugage.") }}
      {{ wtf.form_field(form.created, min="1970", max="2099", step="1", type="number") }}
      {{ wtf.form_field(form.project_version) }}
      {{ wtf.form_field(form.is_active) }}
      {{ wtf.form_field(form.link) }}
      {{ wtf.form_field(form.why, help_text="Why use this tool over an alternative?", maxlength=max) }}
      <span id="why-count" class="char-count text-muted">{{ max }}</span>
      {{ wtf.form_field(form.edit_msg) }}
      {% if not is_confirmed %}
        <div id="edit-tool-recaptcha" class="my-3">
          {{ form.recaptcha }}
        </div>
      {% endif %}
      <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn btn-danger mr-auto form-button cancel-button">Cancel</button>
        <input class="btn btn-success form-button" id="submit" name="submit" type="submit" value="Submit">
      </div>
    </form>
    {% if is_confirmed %}
      <div id="tree-pane" class="col-md-8 initially-hidden-field">
        <label>Pick a parent category</label>
        <div id="explore-tree" data-url="/explore_nodes?no-link=true"></div>
      </div>
    {% endif %}
  </div>
{% endblock %}
