{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tool TL;DR - Edit Profile{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Edit This Profile</h1>
</div>
<form class="col-md-4" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.username) }}
		<div class="mb-3 mt-4">
			{{ wtf.form_field(form.confirmed) }}
		</div>
		{{ wtf.form_field(form.role) }}

    <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn btn-outline-danger mr-auto" onclick="goBack()">Cancel</button>
        <input class="btn btn-outline-success" id="submit" name="submit" type="submit" value="Submit">
    </div>
</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
