{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{%- block description -%}
  Explore the landscape of all the software development tools out there. This tree view acts as a roadmap which helps
  software developers or programmers understand the big picture.
{%- endblock -%}

{% block content %}
  <div id="explore-header" class="content-page-header">
    <h1 id="explore-title" class="display-4">Explore{% if category %} -
      <a href={{ url_for("main.fetch_category_page", category_id=id, category_name=slugify(category.name)) }}>{{ category.name }}</a>{% endif %}</h1>
    <button id="collapse-button" type="button" class="btn btn-secondary">Collapse All</button>
  </div>
  <p class="explore-subtitle">Here, you can dive into the landscape and get a top-down view of all the different
    categories of tools.</p>
  {% if environments %}
    <div class="d-flex align-items-center mb-4">
      <p class="filter-text">Filter: {{ environments_html | safe }}</p>
      <a class="btn btn-secondary btn-sm ml-3" href={{ url_for("main.browse_categories", id=id) }}>Remove Filter</a>
    </div>
  {% endif %}
  <label for="filter-tree">Search tree:</label>
  <input id="filter-tree" class="form-control" autocomplete="off"/>
  <div class="explore-tree explore-tree-explore" class="col-12"
       data-url={{ url_for("main.explore_nodes", manual_node=id, envs=environments) }}></div>
{% endblock %}