{% extends "base.html" %}
{% block title %}Explore{% endblock %}

{% block content %}
<div id="explore-header" class="d-flex justify-content-between align-items-center">
	<h1 id="explore-title" class="display-4">Explore{% if category %} - <a href={{ url_for("main.fetch_category_page", category_id=id) }}>{{ category.name }}</a>{% endif %}</h1>
    <button id="collapse-button" type="button" class="btn btn-secondary">Collapse All</button>
</div>
{% if environment %}
	<div class="d-flex align-items-center">
		<p class="filter-text">Filter: {{ environment.title() }} environment</p>
		<a role="button" class="btn btn-secondary btn-sm ml-3" href={{ url_for("main.browse_categories", id=id) }}>Remove Filter</a>
	</div>
{% endif %}
<div id="explore-tree" class="col-11" data-url={{ url_for("main.explore_nodes", manual_node=id, env=environment) }}></div>
{% endblock %}