{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%- block description -%}
  A community wiki for navigating programming tools in layman's terms.
{%- endblock -%}

{% block content %}
  <div id="tagline" class="col-lg-5 text-center">
    <p>A community wiki for navigating programming tools in layman's terms.</p>
  </div>
  <div id="big-search" class="col-lg-5 col-md-6 input-group input-group-lg">
    <input id="big-search-bar-input" class="form-control search-form" aria-label="Search" placeholder="Search software tools">
    <img id="big-loader" src="{{ url_for('static', filename='img/loader.svg') }}" alt="Loading...">
  </div>
  <div id="home-page-recent">
    <h2 class="text-center mb-5">Recent Tools</h2>
    <div class="recent-grid">
      {% for tool in tools %}
        <a class="grid-item btn btn-outline-primary btn-lg"
           href="{{ url_for(".fetch_tool_page", tool_id=tool.id, tool_name=slugify(tool.name)) }}"
           data-notitle>{{ tool.name }}</a>
      {% endfor %}
    </div>
    <p class="text-center"><a href="/explore">Show More...</a></p>
  </div>
{% endblock %}
