{% extends "base.html" %}
{% block title %}Tool TL;DR{% endblock %}
{% block content %}
    <div id="tagline" class="col-lg-5 text-center">
        <p>A community wiki for navigating programming tools in layman's terms.</p>
    </div>
    <div id="big-search" class="col-lg-5 input-group input-group-lg">
        <input id="big-search-bar-input" class="form-control" placeholder="Search software tools" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search software tools'">
    </div>
    <div id="categories">
        <p id="category-title">Featured Categories</p>
        <div id="category-columns" class="row col-md-8">
                {% for category in categories %}
                    <a class="category-list-item col-xl-3 col-lg-4 col-sm-4" href="/categories?id={{ category.id }}">{{ category.name }}</a>
                {% endfor %}
        </div>
        {%  if show_more %}
            <p id="show-more"><a href="/explore">Show More...</a></p>
        {% endif %}
    </div>
{% endblock %}
