{% extends "base.html" %}
{% block title %}Tool TL;DR{% endblock %}
{% block content %}
    <div id="tagline" class="col-lg-5 text-center">
        <p>A community wiki for navigating programming tools in layman's terms.</p>
    </div>
    <div id="big-search" class="col-lg-5 input-group input-group-lg">
        <input id="big-search-bar-input" class="form-control" placeholder="Search software tools" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search software tools'">
    </div>
    <div id="categories">
        <p id="category-title">Categories</p>
        <div id="category-columns" class="row col-lg-8 offset-lg-2 col-xs-10 offset-xs-1">
            {% for category in categories %}
                <a class="category-list-item col-lg-3 col-md-4 col-sm-6 col-xs-12" href="{{ "/categories/" ~ category}}">{{ category }}</a>
            {% endfor %}
        </div>
        {%  if show_more %}
            <p id="show-more"><a href="/explore">Show More...</a></p>
        {% endif %}
    </div>
{% endblock %}
