{% extends "base.html" %}

{% block content %}
	<h1>Log In</h1>
	<form action="" method="post" name="login">
	{{ form.hidden_tag() }}
	<p>
		Please enter your username and password<br>
		Username: {{ form.username(size=30) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
		Password: {{ form.password(size=30) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
	</p>
	<p>{{ form.remember_me }} Remember Me</p>
	<p><input type="submit" value="Log in"></p>
</form>
{% endblock %}
