{% extends "base.html" %}

{% block title %}Roles{% endblock %}

{% block content %}

  <h1 class="display-4">Roles</h1>

  <div class="about-text">
    <div class="row">
      <div class="col-md-6">
        <p class="no-indent"><i>Tool TL;DR</i> has several roles which combine multiple permissions.</p>

        <h2>Anonymous</h2>

        <ul>
          <li>Permissions <br>
            <ul>
              <li>View and edit pages</li>
              <li>Change links</li>
              <li>Undo changes</li>
            </ul>
          </li>
          <li>Requirements <br>
            <ul>
              <li>Not being logged in to an existing account</li>
            </ul>
          </li>
          <li>Conditions <br>
            <ul>
              <li>Captchas required when editing pages with links</li>
              <li>Public IP address displayed on edits</li>
            </ul>
          </li>
        </ul>

        <p>Your edits as an Anonymous user will show your public IP address to the masses. If you don't want that, you
          can
          make an account where it will become hidden forever.</p>

        <h2>Registered</h2>

        <ul>
          <li>Permissions<br>
            <ul>
              <li>Add pages</li>
            </ul>
          </li>
          <li>Requirements<br>
            <ul>
              <li>Creating an account and logging in</li>
            </ul>
          </li>
          <li>Conditions<br>
            <ul>
              <li>Captchas required when editing pages with links</li>
            </ul>
          </li>
          <li>Perks<br>
            <ul>
              <li>No public IP displayed on edits</li>
            </ul>
          </li>
        </ul>

        <p>As a Registered user, you get a username, you can talk about yourself in an 'about me' section, and get your
          public IP address hidden.</p>

        <h2>Confirmed</h2>

        <ul>
          <li>Permissions<br>
            <ul>
              <li>Move pages</li>
            </ul>
          </li>
          <li>Requirements<br>
            <ul>
              <li>Has made 20 edits <em>and</em> had account for over two weeks</li>
            </ul>
          </li>
          <li>Perks<br>
            <ul>
              <li>No captchas</li>
            </ul>
          </li>
        </ul>

        <p>As a Confirmed user, you can move pages around. This includes both tools and categories and serves to help
          organize the site's content and find the best fit for information.</p>

        <h2>Time Traveler</h2>

        <ul>
          <li>Permissions<br>
            <ul>
              <li>Quickly moderate by easily reverting page states</li>
            </ul>
          </li>
          <li>Requirements<br>
            <ul>
              <li>Has made 100 edits <em>and</em> had account for over six weeks</li>
            </ul>
          </li>
          <li>Non-Requirements<br>
            <ul>
              <li title="Great Scott!">Roads</li>
            </ul>
          </li>
        </ul>

        <p>Right now, Time Traveler users can click a button on an edit and instantly revert the page state to a
          previous edit. This isn't a cumulative edit nor does it destroy intermediate edits. It simply makes a new
          time travel edit with the same contents of the destination edit. More moderater-y permissions will be added
          in the future.</p>

        <h2>Administrator</h2>

        <ul>
          <li>Permissions<br>
            <ul>
              <li>God mode</li>
            </ul>
          </li>
          <li>Requirements<br>
            <ul>
              <li>???</li>
            </ul>
          </li>
          <li>Conditions<br>
            <ul>
              <li>n/a</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}