{% extends "base.html" %}

{% block title %}Roles{% endblock %}

{% block content %}

<h1 class="display-4">Roles</h1>

<div class="about-text">
	<div class="row">
		<div class="col-md-6">
			<p class="no-indent"><i>Tool TL;DR</i> has several roles which combine multiple permissions.</p>

			<h2>Anonymous</h2>

			<ul>
				<li>Permissions <br>
					<ul>
						<li>View and edit pages</li>
						<li>Change links</li>
						<li>Undo changes</li>
					</ul>
				</li>
				<li>Requirements <br>
					<ul>
						<li>Not being logged in to an existing account</li>
					</ul>
				</li>
				<li>Conditions <br>
					<ul>
						<li>Captchas required when editing pages with links</li>
						<li>Public IP address displayed on edits</li>
					</ul>
				</li>
			</ul>

			<p>Your edits as an anonymous user will show your public IP address to the masses. If you don't want that, you can
				make an account	where it will become hidden forever.</p>

			<h2>Registered</h2>

			<ul>
				<li>Permissions <br>
					<ul>
						<li>Add pages</li>
					</ul>
				</li>
				<li>Requirements <br>
					<ul>
						<li>Creating an account and logging in</li>
					</ul>
				</li>
				<li>Conditions <br>
					<ul>
						<li>Captchas required when editing pages with links</li>
					</ul>
				</li>
			</ul>

			<p>As a registered user, you get a username, you can talk about	yourself in an 'about me' section, and your public
				IP address hidden.</p>

			<h2>Confirmed</h2>

			<ul>
				<li>Permissions <br>
					<ul>
						<li>Move pages</li>
					</ul>
				</li>
				<li>Requirements <br>
					<ul>
						<li>Made 10 edits <em>and</em> had account for over four days</li>
					</ul>
				</li>
				<li>Conditions <br>
					<ul>
						<li>No captchas</li>
					</ul>
				</li>
			</ul>

			<p>As a confirmed user, you can move pages around. This includes both tools and categories and serves to help
				organize the site's content and find the best fit for information.</p>

			<h2>Administrator</h2>

			<ul>
				<li>Permissions <br>
					<ul>
						<li>God mode</li>
					</ul>
				</li>
				<li>Requirements <br>
					<ul>
						<li>???</li>
					</ul>
				</li>
				<li>Conditions <br>
					<ul>
						<li>-</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}