{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{ tool.name }}{% endblock %}
{% block content %}

  {{ macros.page_header(type="tools", obj=tool) }}

  <div id="tool-content" class="row justify-content-between content-page-content">
    <div id="tool-left-content" class="col-md-10 col-lg-6">
      <div class="question-block tool-question-block">
        <h1 class="question-title">The What</h1>
        <p>This tool falls within the <a
                href={{ url_for("main.fetch_category_page", category_id=tree[-1].id, category_name=slugify(tree[-1].name)) }}>{{ tree[-1].name }}</a>
          category.</p>
      </div>
      <div class="question-block tool-question-block">
        <h1 class="question-title">The Why</h1>
        <p class="text-muted help-text mb-0">Why use this tool over an alternative?</p>
        <p>{{ tool.why }}</p>
      </div>
      <div class="question-block tool-question-block">
        <h1 class="question-title">Alternatives</h1>
        <div class="row ml-0">

          <div class="env-alts-section col-md-6">
            <h3 class="env-alts-env-title"><i>For {{ tool.env }}</i></h3>
            {% if env_alts | length %}
              <ul class="env-alts-list">
                {% for alt in env_alts %}
                  <li><a href={{ url_for("main.fetch_tool_page", tool_id=alt.id) }}>{{ alt.name }}</a></li>
                  {%- if loop.index == ALTS_PER_LIST %}
                    <p class="alts-more-link"><a
                            href={{ url_for("main.browse_categories", id=tool.category.id, env=tool.env) }}>More
                      for {{ tool.env }}...</a></p>
                    {% break %}
                  {% endif %}
                {%- endfor %}
              </ul>
            {% else %}
              <p class="text-muted"><i>No alternatives added yet</i></p>
            {% endif %}
          </div>

          <div class="env-alts-section col-md-6">
            <h3 class="env-alts-env-title"><i>For other environments</i></h3>
            {% if other_alts | length %}
              <ul class="env-alts-list">
              {% for alt in other_alts %}
                <li><a href={{ url_for("main.fetch_tool_page", tool_id=alt.id) }}>{{ alt.name }}</a>
                  ({{ alt.env }})
                </li>
                {%- if loop.index == ALTS_PER_LIST %}
                  <p class="alts-more-link"><a href={{ url_for("main.browse_categories", id=tool.category.id) }}>More
                    for
                    all environments...</a></p>
                  {% break %}
                {% endif %}
              {%- endfor %}
            {% else %}
              <p class="text-muted"><i>No alternatives added yet</i></p>
            {% endif %}
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div id="tool-right-content" class="col-md-auto">
      <div id="tool-pane">
        <div id="tool-pane-top">
          <div id="tool-avatar">
            <span class="img-align-helper"></span>
            <img id="avatar-img" src="{{ tool.avatar_url }}" alt="{{ tool.name }}">
          </div>
          <h1 id="tool-name">{{ tool.name }}</h1>
        </div>
        <hr>
        <div id="tool-pane-bottom">
          <table id="tool-metadata-table">
            <tr class="tool-metadata-row ">
              <td class="tool-metadata-name">Hierarchy</td>
              <td class="tool-metadata-value">
                {% if tree | length > 3 %}
                  <span class="tool-parents">...</span>
                {% endif %}
                {% for parent in tree[-3:] %}
                  <span class="tool-parents">{{ (loop.index0 * 2 * ' ') }}<a
                          href={{ url_for("main.fetch_category_page", category_id=parent.id, category_name=slugify(parent.name)) }}>{{ parent.name }}</a></span>
                {% endfor %}
              </td>
            </tr>
            <tr class="tool-metadata-row">
              <td class="tool-metadata-name">Environment</td>
              <td class="tool-metadata-value">{{ tool.env }}</td>
            </tr>
            <tr class="tool-metadata-row">
              <td class="tool-metadata-name">Created</td>
              <td class="tool-metadata-value">{{ tool.created }}</td>
            </tr>
            <tr class="tool-metadata-row">
              <td class="tool-metadata-name">Version</td>
              <td class="tool-metadata-value">{{ tool.project_version }}</td>
            </tr>
            <tr class="tool-metadata-row">
              <td class="tool-metadata-name">Actively Developed?</td>
              <td class="tool-metadata-value">{% if tool.is_active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr class="tool-metadata-row">
              <td class="tool-metadata-name">Project URL</td>
              <td class="tool-metadata-value"><a id="tool-link" href={{ tool.link }} target="_blank">{{ link }}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}