{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="content-page-header">
    <h1>{{ user.username }}{% if user.blocked %}<span class="red-text"> [blocked]</span>{% endif %}</h1>
    <div id="edit-buttons" class="user-edit-buttons">
      {% if current_user.is_administrator %}
        <p id="user-email-button" class="mr-2"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
      {% endif %}
      {% if user == current_user %}
        <a class="btn btn-secondary mr-2" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
      {% endif %}
      {% if current_user.is_administrator %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
      {% endif %}
    </div>
  </div>
  <div id="profile-main">

    <div class="row">

      <div id="profile-details" class="col-lg-3 col-12">
        <ul class="list-group">
          <li class="list-group-item text-muted">Profile</li>
          <li class="list-group-item justify-content-between">
            <span><b>Member since</b></span>{{ user.member_since.strftime("%B %d, %Y") }}</li>
          <li class="list-group-item justify-content-between">
            <span><b>Last seen</b></span>{{ user.last_seen | timesince }}
          </li>
          <li class="list-group-item justify-content-between"><span><b>Real name</b></span>{{ user.name }}</li>
          <li class="list-group-item justify-content-between"><span><b>Role</b></span><a
                  href="{{ url_for('main.get_roles') }}">{{ user.role.name }} {% if user.role.name != "Administrator" %}
            User{% endif %}</a></li>
          <li class="list-group-item justify-content-between"><span><b>Total edits</b></span>{{ total_edits }}</li>
        </ul>

        <ul class="list-group">
          <li class="list-group-item text-muted">About</li>
          <li class="list-group-item"><p id="about-me">{{ user.about_me }}</p></li>
        </ul>
      </div>

      <div id="recent-activity" class="col-lg-9 col-12">

        <h2 class="profile-info-header">Recent Activity</h2>

        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Tool Edits</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Category Edits</label>

        <section id="tool-edits">

          <table class="table table-striped">

            <thead>
            <tr>
              <th>Edit</th>
              <th>Tool Name (at the time)</th>
              <th>Edit Message</th>
            </tr>
            </thead>

            {% if tool_edits %}
              <tbody>
              {% for tool_edit in tool_edits %}
                <tr>
                  <td>
                    {% if tool_edit.previous %}
                    <a href="{{ url_for(".view_tool_diff", tool_id=tool_edit.id, newer=tool_edit.transaction_id, older=tool_edit.previous.transaction_id) }}"
                       title="{{ tool_edit.edit_time }}">
                      {{ tool_edit.edit_time | timesince }}
                    </a>
                    {% else %}
                    <a href="{{ url_for(".fetch_tool_page", tool_id=tool_edit.id, tool_name=slugify(tool_edit.name)) }}"
                       title="{{ tool_edit.edit_time }}">
                      {{ tool_edit.edit_time | timesince }}
                    </a>
                    {% endif %}
                  </td>
                  <td><a href="{{ url_for(".fetch_tool_page", tool_id=tool_edit.id, tool_name=slugify(tool_edit.name)) }}">{{ tool_edit.name }}</a></td>
                  <td>{{ tool_edit.edit_msg }}</td>
                </tr>
              {% endfor %}
              </tbody>
            {% endif %}
          </table>

          <a href="{{ url_for(".view_user_edits", id=user.id, page_type="tools", page_number=1) }}"
             class="btn btn-secondary {% if not tool_edits %}disabled{% endif %}">View All</a>
        </section>

        <section id="category-edits">

          <table class="table table-striped">

            <thead>
            <tr>
              <th>Edit</th>
              <th>Category Name (at the time)</th>
              <th>Edit Message</th>
            </tr>
            </thead>

            {% if category_edits %}
              <tbody>
              {% for category_edit in category_edits %}
                <tr>
                  <td>
                    {% if category_edit.previous %}
                    <a href="{{ url_for(".view_category_diff", category_id=category_edit.id, older=category_edit.previous.transaction_id, newer=category_edit.transaction_id) }}"
                       title="{{ category_edit.edit_time }}">
                      {{ category_edit.edit_time | timesince }}
                    </a>
                    {% else %}
                    <a href="{{ url_for(".fetch_category_page", category_id=category_edit.id, category_name=slugify(category_edit.name)) }}"
                       title="{{ category_edit.edit_time }}">
                      {{ category_edit.edit_time | timesince }}
                    </a>
                    {% endif %}
                  </td>
                  <td><a href="{{ url_for(".fetch_category_page", category_id=category_edit.id, category_name=slugify(category_edit.name)) }}">{{ category_edit.name }}</a></td>
                  <td>{{ category_edit.edit_msg }}</td>
                </tr>
              {% endfor %}
              </tbody>
            {% endif %}
          </table>

          <a href="/users/{{ user.id }}/edits/categories"
             class="btn btn-secondary {% if not category_edits %}disabled{% endif %}">View All</a>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
