{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Edits by {{ user.username }} ({{ type.title() }}){% endblock %}
{% block content %}
    <h1>Edits by <a href="/users/{{ user.id }}">{{ user.username }}</a> ({{ type.title() }})</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Edit</th>
                <th>{{ type.title() }} Name (at the time)</th>
                <th>Edit Message</th>
            </tr>
        </thead>
        <tbody>
            {% for edit in edits|sort(attribute="edit_time", reverse=True) %}
                <tr>
                    <td>
                        <a href="/categories/{{ edit.id }}/edits/diff/{{ edit.previous.transaction_id }}/{{ edit.transaction_id }}"
                           title="{{ edit.edit_time.strftime('%d %B %Y, %H:%M') }}">
                            {{ edit.edit_time.strftime('%B %d, %Y') }}
                        </a>
                    </td>
                    <td><a href="/categories/{{ edit.id }}">{{ edit.name }}</a></td>
                    <td>{{ edit.edit_msg }}</td>
                </tr>
            {% endfor %}
    </table>
    <div class="pagination">
        {{ macros.edits_pagination_widget(pagination, '.view_user_edits', id=user.id, type=type) }}
    </div>
{% endblock %}