{% extends "base.html" %}
{% block title %}{{ page_name}} Diff{% endblock %}
{%- block description -%}
  View the diff for {{ page_name }} between versions {{ older_data.index + 1 }} and
  {{ newer_data.index + 1 }}.
{%- endblock -%}

{% block content %}
  <h1><a href="/{{ type }}/{{ id }}">{{ page_name}}</a>:
    Diff</h1>
  <p><a href="/{{ type }}/{{ id }}/edits">Back to edits</a></p>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center" id="comparison-info">Before: {{ older_time }}</h2>
      <div class="w-100">
        <blockquote class="blockquote">
          <p class="mt-0 mb-1">{{ older_data.edit_msg }}</p>
          <footer class="blockquote-footer">
            Edit by
            <cite title="Source Title">
              <a href="/users/{{ older_data.edit_author }}">{{ older_data.author.username }}</a>
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center" id="comparison-info">After: {{ newer_time }}</h2>
      <div class="w-100">
        <blockquote class="blockquote">
          <p class="mt-0 mb-1">{{ newer_data.edit_msg }}</p>
          <footer class="blockquote-footer">
            Edit by
            <cite title="Source Title">
              <a href="/users/{{ newer_data.edit_author }}">{{ newer_data.author.username }}</a>
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
    {% for diff_name, change in diffs.items() %}
      {% set before, after = change %}
        <div class="col-md-12">
          <div class="card">
            <h3 class="card-header">{{ diff_name }}</h3>
            <div class="row">
              <div class="card-block col-md-6">
                <p class="card-text text-muted pl-3">Before</p>
                <p class="card-text pl-4">{{ before|safe }}</p>
              </div>
              <div class="card-block col-md-6 right-diff">
                <p class="card-text text-muted pl-3">After</p>
                <p class="card-text pl-4">{{ after|safe }}</p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}