{% extends "base.html" %}
{% block title %}{{ current_version.name }} edits{% endblock %}
{% block content %}
    <h1><a href="{% if type == "category" %}categories{% else %}tools{% endif %}?id={{ id }}">{{ current_version.name }}</a>: Edits</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Version #</th>
                <th class="d-flex align-items-end">
                    <div>
                        Comparisons
                    </div>
                    <div class="ml-5">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="compareTwo('{{ type }}', '{{ id }}')">Compare Selected</button>
                    </div>
                </th>
                <th>Edit Time</th>
                <th>Edit Author</th>
                <th>Edit Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ (length + 1) }}</th>
                <td>
                    Current | {% if previous_versions %}<a href="/view-diff?id={{ id }}&type={{ type }}&older={{ length }}&newer=current">Previous</a>{% else %}Previous{% endif %}
                    <div class="form-check form-check-inline ml-5" style="visibility: hidden">
                      <label class="form-check-label">
                        <input class="form-check-input radio-left" type="radio" name="inlineRadioOptionsLeft" id="inlineRadio1" value="null">
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input radio-right" type="radio" name="inlineRadioOptionsRight" id="inlineRadio2" value="current">
                      </label>
                    </div>
                </td>
                <td>{{ current_version.edit_time.strftime('%d %B %Y, %H:%M') }}</td>
                {% if not is_ip(current_version.edit_author) %}
                    <td><a href="/users?id={{ current_version.author.id }}">{{ current_version.author.username }}</td>
                {% else %}
                    <td>{{ current_version.edit_author }}</td>
                {% endif %}
                <td>{{ current_version.edit_msg }}</td>
            </tr>
            {% for version in previous_versions|sort(attribute="index", reverse=True) %}
                <tr>
                    {% set version_number = (length + 1) - loop.index %}
                    <th scope="row">{{ version_number }}</th>
                    <td>
                        <a href="/view-diff?id={{ id }}&type={{ type }}&older={{ version_number }}&newer=current">Current</a> | {% if loop.last %}Previous{% else %}<a href="/view-diff?id={{ id }}&type={{ type }}&older={{ version_number - 1 }}&newer={{ version_number }}">Previous</a>{% endif %}
                        <div class="form-check form-check-inline ml-5">
                          <label class="form-check-label">
                            <input class="form-check-input radio-left" type="radio" name="inlineRadioOptionsLeft" id="inlineRadio1" value="{{ version_number }}">
                          </label>
                        </div>
                        {% if not loop.last %}
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input radio-right" type="radio" name="inlineRadioOptionsRight" id="inlineRadio2" value="{{ version_number }}">
                          </label>
                        </div>
                        {% endif %}
                    </td>
                    <td>{{ version.edit_time.strftime('%d %B %Y, %H:%M') }}</td>
                    {% if not is_ip(version.edit_author) %}
                        <td><a href="/users?id={{ version.author.id }}">{{ version.author.username }}</td>
                    {% else %}
                        <td>{{ version.edit_author }}</td>
                    {% endif %}
                    <td>{{ version.edit_msg }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}