{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}{{ user.username }} Edits ({{ type.title() }}){% endblock %}
{%- block description -%}
  View the category and tool edits that {{ user.username }} has contributed.
{%- endblock -%}

{% block content %}
  <h1>Edits by <a href="{{ url_for(".user", user_id=user.id) }}">{{ user.username }}</a> ({{ type.title() }})</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Edit Time</th>
      <th>{{ type.title() }} Name (at the time)</th>
      <th>Edit Message</th>
    </tr>
    </thead>
    <tbody>
    {% for edit in edits|sort(attribute="edit_time", reverse=True) %}
      <tr>
        <td>
          {% if type == "tools" %}
            {% if edit.previous %}
              <a href="{{ url_for(".view_tool_diff", tool_id=edit.id, newer=edit.index + 1, older=edit.previous.index + 1) }}"
                 title="{{ edit.edit_time }}">
                {{ edit.edit_time | timesince }}
              </a>
            {% else %}
              <a href="{{ url_for(".fetch_tool_page", tool_id=edit.id, tool_name=edit.slug) }}"
                 title="{{ edit.edit_time }}">
                {{ edit.edit_time | timesince }}
              </a>
            {% endif %}

          {% else %}
            {% if edit.previous %}
              <a href="{{ url_for(".view_category_diff", category_id=edit.id, newer=edit.index + 1, older=edit.previous.index + 1) }}"
                 title="{{ edit.edit_time }}">
                {{ edit.edit_time | timesince }}
              </a>
            {% else %}
              <a href="{{ url_for(".fetch_category_page", category_id=edit.id, category_name=edit.slug) }}"
                 title="{{ edit.edit_time }}">
                {{ edit.edit_time | timesince }}
              </a>
            {% endif %}
          {% endif %}
        </td>
        <td><a href="/{{ type }}/{{ edit.id }}">{{ edit.name }}</a></td>
        <td>{{ edit.edit_msg }}</td>
      </tr>
    {% endfor %}
  </table>
  <div class="d-flex justify-content-center">
    {{ render_pagination(pagination, prev="Previous", next="Next") }}
  </div>
{% endblock %}